@import 'colours';

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100vh;
    background-color: $bg-primary;

    #cover-image {
        width: 100%;
        height: 100vh;
        object-fit: contain;
    }
}
