<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="10" android:versionName="1.3.6" package="com.samorme.tracked" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29" />
	<application>
		<service android:enabled="true" android:foregroundServiceType="location" android:exported="false" android:name="com.samorme.tracked.LocationService" />
	</application>
</manifest>